[Unit]
Description=Periodic Fluree reindex for translate ledger

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
